body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
.bg{
    background-color: orangered;
    width: 600px;
    color: white;
    margin: 60px auto;
    padding: 120px 40px;
    border-radius: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center{
    text-align: left;
}
.welcome{
    text-align: left;
}
.padding{
    padding: 10px;
}
.footer{
    border-top: 1px solid lightgray;
    padding-left: 12px;
}
.container{
	display:flex;
        text-align: left;
	width: fit-content;
        
       
    }


/* social media app
    box model
    positions
    flexbox
    media queries
*/


@media(min-width: 990px){
    .container{
        display: flex;
        width: fit-content;
        margin: 60px auto;
        gap: 20px;
        position:relative;
		padding-left: 12px;
    }
    .welcome{

		
	    text-align: centre;
	    width: fit-content;
	    position:relative;
        
       
    }
    .bg{
        background-color: orangered;
        width: fit-content;
        color: white;
        margin: 60px auto;
        padding: 120px 40px;
        border-radius: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		padding-left: 12px;
	    position:relative;
    }
    .python{
    background-color: orangered;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: fit-content;
    margin: 10px auto;
    color: white;
    position: sticky;
    top: 0;

    }
    .javacourse{
    background-color: orangered;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: fit-content;
    margin: 10px auto;
    color: white;
    position: sticky;
    top: 0;

    }
	.avatar{
		padding-left: 12px;
		border-radius: 16px;
		 width: fit-content;
		 position:relative;
	}
       
}

@media(max-width: 989px){
   .container{
        display: flex;
        width: fit-content;
        margin: 60px auto;
        gap: 20px;
        position:relative;
		padding-left: 12px;
    }
    .welcome{
         text-align: centre;
	    width: fit-content;
	    position:relative;
        
       
    }
    .bg{
        background-color: orangered;
        width: fit-content;
        color: white;
        margin: 60px auto;
        padding: 120px 40px;
        border-radius: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		padding-left: 12px;
	    position:relative;
    }
	.avatar{
		padding-left: 12px;
		border-radius: 16px;
		 width: fit-content;
		 position:relative;
	}
    
    
}
